body {
    display: flex;
    align-items: center;
    justify-content: center;
}

#div-main {
    border: 1px solid blue;
    width: 300px;
    height: 550px;
}

#div-menu-buttons { 
    margin-top: 5px;
    margin-bottom: 10px;
}

#div-event-log {
    height: 100px;
    width: 260px;
    overflow: auto;
    border: 1px solid black;
    outline: 2px solid lightgrey;
    padding: 5px;
    margin-top: 10px;
    box-sizing: border-box;
}

#div-action-buttons {
    margin-top: 10px;
}

#div-character-menu-buttons {
    display: none;
    background-color: white;
    position: absolute;
    border: 1px solid black;
    outline: 2px solid lightgrey;
    padding: 10px;
}

#div-character-info {
    display: none;
    background-color: white;
    position: absolute;
    border: 1px solid black;
    outline: 2px solid lightgrey;
    padding: 10px;
}

#div-move-menu1 {
    display: none;
    background-color: white;
    position: absolute;
    border: 1px solid black;
    outline: 2px solid lightgrey;
    padding: 10px;
}

#div-move-menu2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

#span-name {
    margin-right: 5px;
}

#span-season {
    margin-right: 5px;
}

.div-room-info-cell {
    display: flex;
    flex-direction: column;
	align-items: center;
	overflow: auto;
	border: 1px solid black;
    outline: 2px solid lightgrey;
    height: 80px;
    width: 120px;
    max-height: 80px;
    max-width: 120px;
    padding: 5px;
    box-sizing: border-box;
}

.layout-column {
    display: flex;
    flex-direction: column;
}

.layout-column-centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.layout-row {
    display: flex;
    flex-direction: row;
}

.layout-row-centered {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
}

.span1-character-info {
    text-decoration: underline;
}

.span2-character-info {
    margin-bottom: 5px;
}

.button-character-menu {
    margin-bottom: 5px;
}

.button-move-menu {
    margin-bottom: 5px;
}

.locked {
    pointer-events: none;
}

.button-close { 
    margin-top: 10px;
}

button {
    margin-left: 2px;
    margin-right: 2px;
    font-size: 14px;
}